body {
  font: 10px consolas;
}

#legend {
  padding: 1.5em 0 0 1.5em;
}

li.key{
  border-top-width: 15px;
  border-top-style: solid;
  font-size: .75em;
  width: 10%;
  padding-left: 0;
  padding-right: 0;
}

.axis path,
.axis line {
  fill: none;
  stroke: #000;
  shape-rendering: crispEdges;
}

.bar {
  fill: steelblue;
}

.x.axis path {
  display: none;
}

.legend line {
  stroke: #000;
  shape-rendering: crispEdges;
}


